<nav class="main-nav">
    <a href="/" class="Pi2345Pi-logo">
        <img src="images/blank.gif" alt="2345Pi Logo" />
    </a>
    <div class="inner">
        <a href="/" id="home" class="main-nav-item">{{{__ "Home"}}}</a>
        <a href="/brainstorm" id="brainstorm" class="main-nav-item">{{{__ "Brainstorm"}}}</a>
        <a href="https://discuss.2345pi.com" target="_blank" class="main-nav-item">{{{__ "Discuss"}}}</a>
        <a href="/pinode" id="pinode" class="main-nav-item">{{{__ "PiNode"}}}</a>
        <a href="/down" id="down" class="main-nav-item">{{{__ "DOWN"}}}</a>
        <a href="/faq" id="faq" class="main-nav-item">{{{__ "FAQ"}}}</a>
        <a href="/support" id="support" class="alt-nav-item" style="background-image: url(images/icon-default-patron.png)">{{{__ "Join us"}}}</a>
    </div>
</nav>