<nav class="mobile-nav">
    <a href="/" id="home_m">{{{__ "Home"}}}</a>
    <div class="mobile-sub-nav">
        <a href="/brainstorm" id="brainstorm_m">
            <span>{{{__ "Brainstorm"}}}</span>
        </a>
        <a href="https://discuss.2345pi.com">
            <span>{{{__ "Discuss"}}}</span>
        </a>
        <a href="/pinode" id="pinode_m">
            <span>{{{__ "PiNode"}}}</span>
        </a>
        <a href="/down" id="down_m">
            <span>{{{__ "DOWN"}}}</span>
        </a>
        <a href="/faq" id="faq_m">
            <span>{{{__ "FAQ"}}}</span>
        </a>
    </div>
    <a href="/support" id="support_m" class="alt-nav-item" style="background-image: url(images/icon-default-patron.png)">{{{__ "Join us"}}}</a>
</nav>