<!doctype html>
<html lang="en">
    <head>
        {{> head}}
        <link rel="icon" type="image/gif" href="/images/favicon.png">
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/flickity.min.css">
        <script src="javascripts/modernizr.custom.min.js"></script>
    </head>
    <body class="">
        {{> header}}
        <article class="main-content">
            <section class="faqs">
                <div class="inner">
                    <div class="faq-list ani-sfb" data-delay="0.1" data-speed="0.5" data-animation="short-from-bottom">
                        <ul>
                            <h4>{{{__ "Click"}}} {{{__ "Join us"}}}</h4>
                            <li>
                                <p class="mono num">QQ {{{__ "Group"}}}</p>
                                <a href="https://jq.qq.com/?_wv=1027&k=wL5xwumY" target="_blank"><h6>455385103</h6></a>
                            </li>
                            <li>
                                <p class="mono num">{{{__ "Telegram"}}}</p>
                                <a href="https://t.me/+OTANAiaUyI8zZGY1" target="_blank"><h6>2345Pi APP NAV</h6></a>
                            </li>
                            <li>
                                <p class="mono num">{{{__ "Discord"}}}</p>
                                <a href="https://discord.gg/kM5Pa4A4vx" target="_blank"><h6>2345Pi APP NAV</h6></a>
                            </li>
                            <li>
                                <p class="mono num">{{{__ "Twitter"}}}</p>
                                <a href="https://twitter.com/iUO9grzWU5iS4LW?t=OMGgk2FYklL9Pc5bdLjRgQ&s=05" target="_blank"><h6>2345Pi APP NAV</h6></a>
                            </li>
                            <li>
                                <p class="mono num">{{{__ "FaceBook"}}}</p>
                                <a href="https://www.facebook.com/groups/563417732423404/?ref=share" target="_blank"><h6>2345Pi APP NAV</h6></a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </section>
        </article>
        {{> footer}}
        <input type="hidden" id="site-base" value="faq" />
        <script src="javascripts/jquery-1.12.0.min.js"></script>
        <script src="javascripts/main.js"></script>
    </body>
</html>
